.button {
  cursor: pointer;
  padding: 0 8px;
  border-radius: 5px;
  transition: all 0.3s;

  min-width: 44px;
  min-height: 44px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--red);
  background-color: var(--white);

  text-align: center;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
  }

  &:active {
    transform: translateY(2px);
  }
}

.red {
  color: var(--white);
  background-color: var(--red);
}

.black {
  color: var(--white);
  border: 3px solid var(--white);
  background-color: var(--black);
}
