.button {
  cursor: pointer;
  padding: var(--space-sm);
  border-radius: 5px;
  transition: all 0.3s;

  min-width: 44px;
  min-height: 44px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--red);
  background-color: var(--white);

  text-align: center;
  text-decoration: none;

  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.1); /* Makes the text 20% larger on hover */
  }

  &:active {
    transform: translateY(2px);
  }
}

.red {
  color: var(--white);
  background-color: var(--red);
}

.black {
  color: var(--white);
  border: var(--border-lg) solid var(--white);
  background-color: var(--black);
}
