@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.hero {
  margin-top: var(--space-xxl);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-xxl);

  @media (min-width: 900px) {
    flex-direction: row;
    justify-content: center;
  }
}

.imgContainer {
  img {
    width: 100%;
    height: 100%;

    opacity: 0;
    animation: fadeIn 1s forwards;
    animation-delay: 1s; /* Delay before the animation starts */
  }
}

.textContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-lg);

  font-size: var(--font-xxl);
  text-align: center;

  @media (min-width: 900px) {
    align-items: start;
    text-align: left;
  }

  span {
    color: var(--red);
  }

  p,
  .buttonsContainer {
    opacity: 0;
    animation: fadeIn 1s forwards;
  }

  & > :nth-child(1) {
    animation-delay: 1s; /* Delay before the animation starts */
  }

  & > :nth-child(2) {
    animation-delay: 2.5s; /* Delay before the animation starts */
  }

  & > :nth-child(3),
  & > :nth-child(4) {
    animation-delay: 4s; /* Delay before the animation starts */
  }
}

.buttonsContainer {
  margin-top: var(--space-xs); // compensate for text line-height

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--space-lg);
}
