$mobilePageGap: 60px;
$textGap: 20px;
$imgSize: min(300px, 90%);

.hero {
  margin-top: $mobilePageGap;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $mobilePageGap;
  //   transition: all 0.5s ease;

  @media (min-width: 800px) {
    flex-direction: row;
  }

  img {
    width: 300px;
    height: 300px;
  }
}

.textContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $textGap;

  font-size: 36px;
  font-weight: bold;
  text-align: center;

  @media (min-width: 800px) {
    align-items: start;
    text-align: left;
  }

  span {
    color: var(--red);
  }
}

.helloContainer {
  display: flex;
  align-items: center;
  gap: 6px;
}

.buttonsContainer {
  margin-top: 8px; // compensate for text line-height
  font-size: 28px;

  display: flex;
  flex-wrap: wrap;
  gap: 24px;

  // expand both buttons to the same size
  & > * {
    flex: 1;
  }
}

.circle {
  width: $imgSize; /* Width of the circle */
  //   height: $imgSize; /* Height of the circle */
  border-radius: 50%; /* Makes the edges fully rounded */
  overflow: hidden;
}
