.infoLayout {
  // title spacing
  & > :first-child {
    margin-left: var(--space-md);
    margin-bottom: var(--space-xl);
    font-size: var(--font-xxl);
  }

  // exclamation marks
  a span {
    color: var(--white);
  }
}
