.fixedContainer {
  position: fixed;
  top: var(--header-height);
  width: 100%;
}

.relativeContainer {
  position: relative;
  max-width: var(--header-max-width);
  margin: 0 auto;
}

.drawer {
  position: absolute;
  top: 0;
  height: calc(100vh - var(--header-height));
  display: flex;

  /* Animation properties */
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  transform: translateX(-100%); /* Start off screen */
}

.scroll {
  overflow: scroll;
  background-color: var(--black);
  // padding: var(  --space-sm);

  width: 200px; // TODO remove this

  a {
    display: block;
    cursor: pointer;
    background-color: transparent;
    border-top: 2px solid var(--white);
    padding: var(--space-lg);

    transition: font-size 0.5s ease;

    &:nth-child(1) {
      border-top: none;
    }

    &:hover {
      font-size: var(--font-md);
    }
  }
}

.borderContainer {
  background-color: var(--black);
  height: 100%;
  display: flex;
}

.border {
  background-color: var(--red);
  width: 3px;
  margin: var(--space-xl) 0;
}
