.browserContainer {
  border: 3px solid var(--white);
  border-radius: 20px; // TODO get formula for this, should be it's own component
}

.browserHeader {
  display: flex;
  gap: var(--space-xs);
  padding: var(--space-xs);
  border-bottom: 3px solid var(--white);

  & > :first-child {
    margin-left: var(--space-sm);
  }
}

// container is needed because iframe has strange bottom gap without it
.iframeContainer {
  height: 600px;
  overflow: hidden;
  border-radius: 0 0 15px 15px; // TODO get formula for this

  iframe {
    width: 100%;
    height: 100%;
  }
}
