$initialAnimationDelay: 0.5s;
$animationTime: 0.05s;

.header {
  width: 100%;
  max-width: var(--header-max-width);
  margin: 0 auto;
  padding: var(--space-lg);
  background-color: var(--black);
  border-bottom: var(--border-lg) solid var(--red);

  display: flex;
  align-items: stretch;
  gap: var(--space-lg);

  // exclude the buttons
  & > :not(:first-child):not(.contactButton):not(.contactButtonIcon) {
    color: var(--white);
    text-decoration: none;

    display: flex;
    align-items: center;

    // nav links
    &:not(.nicodes) {
      transition: font-size 0.5s ease;

      &:hover {
        font-size: var(--font-md);
      }
    }
  }

  // hide nav links on mobile
  & > :not(:first-child):not(.nicodes):not(.contactButtonIcon) {
    display: none;
    @media screen and (min-width: 800px) {
      display: inherit;
    }
  }
}

.nicodes {
  margin: 0 auto;

  h1 {
    font-size: var(--font-xl);
    transition: font-size 0.5s ease;

    &:hover {
      font-size: var(--font-xxl);
    }
  }

  // hide nav links on mobile
  @media screen and (min-width: 800px) {
    margin-left: 0;
  }
}

.contactButtonIcon {
  display: inherit;

  @media screen and (min-width: 800px) {
    display: none;
  }
}
