---
import Button from "../button/Button.astro";
import styles from "./header.module.scss";
---

<header class={styles.header}>
  <button id="header-button">HAMBURGER</button>
  <a href="/">
    <h1>
      <span>N</span><span>i</span><span>c</span><span>o</span><span>d</span
      ><span>e</span><span>s</span>
    </h1>
  </a>
  <a href="/about">About</a>
  <a href="/portfolio">Portfolio</a>
  <a href="https://github.com/nicodes" target="_blank">Github</a>
  <a href="https://www.linkedin.com/in/nicozessoules/" target="_blank">
    Linkedin
  </a>
  <Button red href="mailto:nicodes@gmail.com">Contact</Button>
</header>
