@keyframes growBorder {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.header {
  width: 100%;
  max-width: var(--header-max-width);
  margin: 0 auto;
  background-color: var(--black);
}

.content {
  padding: var(--space-lg);

  display: flex;
  align-items: stretch; // make anchor clickable area to expand vertically to fill flex container
  gap: var(--space-lg);
}

.border {
  width: 100%;
  height: var(--border-lg);
  background-color: var(--red);
}

.borderAnimation {
  width: 0%;
  animation: growBorder 1s forwards;
}

.nicodes,
.anchor {
  display: flex;
  align-items: center;
  transition: font-size 0.5s ease;
}

.anchor {
  &:hover {
    font-size: var(--font-md);
  }
}

.nicodes {
  margin: 0 auto;
  font-size: var(--font-xl);

  &:hover {
    font-size: var(--font-xxl);
  }

  @media screen and (min-width: 800px) {
    margin-left: 0;
  }

  span {
    color: var(--red);
  }
}

// conditional rendering for desktop
.anchor,
.contactButton {
  display: none;

  @media screen and (min-width: 800px) {
    display: inherit;
  }
}

.contactButtonIcon {
  display: inherit;

  @media screen and (min-width: 800px) {
    display: none;
  }
}
