.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--space-md);

  @media screen and (min-width: 900px) {
    grid-template-columns: 1fr 1fr;
  }
}

.left,
.right {
  display: flex;
  flex-direction: column;
  gap: var(--space-xl);

  & > * {
    border-bottom: 3px solid var(--red);
  }
}

.left {
  & > :last-child {
    @media screen and (min-width: 900px) {
      grid-template-columns: none;
    }
  }
}

.right {
  & > :last-child {
    border-bottom: none;
  }
}
