@keyframes wave-animation {
  25% {
    transform: rotate(20deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.wave {
  display: inline-block;
  animation: wave-animation 1s ease-in-out;
  animation-delay: 1.5s;
}
