$buttonPadding: var(--space-sm);
$buttonBorder: var(--border-lg);
$clickableArea: 44px;

.button {
  cursor: pointer;
  padding: $buttonPadding;
  border-radius: var(--border-radius);
  transition: all 0.3s;

  min-width: $clickableArea;
  min-height: $clickableArea;

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
  text-decoration: none;

  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    transform: translateY(2px);
  }
}

.extraPadding {
  padding: var(--space-lg);
}

.white {
  color: var(--red);
  background-color: var(--white);
}

.red {
  color: var(--white);
  background-color: var(--red);
}

.black {
  color: var(--white);
  background-color: var(--black);
  border: $buttonBorder solid var(--white);
  padding: calc($buttonPadding - $buttonBorder);

  &.extraPadding {
    padding: calc(var(--space-lg) - $buttonBorder);
  }
}
