.flexHeaderBody {
  display: flex;
  flex-direction: column;

  main {
    overflow: scroll;
  }
}

.fixedHeaderBody {
  position: relative;

  header {
    z-index: 1; // emojis were showing through header
    position: fixed;
    top: 0;
    left: 0;
  }

  main {
    // using margin breaks the scroller
    padding-top: 93.5px; // manually coded header height
  }
}

.pageContainer {
  max-width: var(--content-max-width-sm);
  margin: 0 auto;
  padding: var(--thin);
}
