.navFixedContainer {
  position: fixed;
  top: var(--header-height);
  width: 100%;
}

.navRelativeContainer {
  position: relative;
  max-width: var(--header-max-width);
  margin: 0 auto;
}

.nav {
  position: absolute;
  top: 0;
  height: calc(100vh - var(--header-height));
  display: flex;

  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  transform: translateX(-100%); // start off screen
  opacity: 0;
}

.navOpen {
  opacity: 1;
  transform: translateX(0);
}

.scroll {
  overflow: scroll;
  background-color: var(--black);
  width: var(--nav-width);

  a {
    display: block;
    cursor: pointer;
    background-color: transparent;
    border-top: var(--border-md) solid var(--white);
    margin: 0 var(--space-lg);
    padding: var(--space-lg) 0;

    transition: font-size 0.5s ease;

    &:nth-child(1) {
      border-top: none;
    }

    &:hover {
      font-size: var(--font-md);
    }
  }
}

.borderContainer {
  background-color: var(--black);
  height: 100%;
  display: flex;
}

.border {
  background-color: var(--red);
  width: var(--border-lg);
  margin: var(--space-xl) 0;
}
