---
import InfoLayout from "../../layouts/infoLayout/InfoLayout.astro";
import FlexGrid from "../../components/flexGrid/FlexGrid.astro";
import Section from "../../components/section/Section.astro";
import IframeBrowser from "../../components/iframeBrowser/IframeBrowser.astro";

import styles from "./portfolio.module.scss";

const ipsum =
  "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Consectetur adipiscing elit ut aliquam purus. Dolor sit amet consectetur adipiscing elit duis tristique.";
---

<InfoLayout title="Nicodes | Portfolio">
  <h2>My Work</h2>

  <FlexGrid>
    <Fragment slot="left">
      <Section>
        <p>
          Here you'll find a list of my creations. Each has a breif description
          and embedded demo.
        </p>

        <p>To learn more please <a>reach out</a>!</p>
      </Section>

      <Section>
        <h3>Pink Sofa Hour</h3>

        <IframeBrowser src="https://pinksofahour.com" />

        <p>
          <a>Pink Sofa Hour</a> is an YouTube show/podcast featuring local musical
          artists in Boulder CO. I built this site to host their site, including
          YouTube and Google Calendar integration.
        </p>

        <div class={styles.coreTech}>
          <p>Core technologies:</p>
          <ul>
            <li>Astro</li>
            <li>TypeScript</li>
            <li>Google Drive API</li>
            <li>Google Calendar API</li>
            <li>YouTube API</li>
          </ul>
        </div>

        <p>Checkout the code on <a>GitHub</a></p>
      </Section>
    </Fragment>

    <Fragment slot="right">
      <Section>
        <h3>Schlop Stop</h3>
        <IframeBrowser src="https://www.schlopstop.com" />

        <p>
          <a>Schlop Stop</a> is a food truck based in Boulder CO. I built this site
          to host their menu, with more additions planned for the future!
        </p>

        <div class={styles.coreTech}>
          <p>Core technologies:</p>
          <ul>
            <li>Astro</li>
            <li>TypeScript</li>
            <li>Google Drive API</li>
          </ul>
        </div>

        <p>Checkout the code on <a>GitHub</a></p>
      </Section>

      <Section>
        <h3>CT Calc</h3>

        <IframeBrowser src="https://www.ctcalc.com" />

        <p>
          <a>CT Calc</a> is used to provide contact time inactivation of Giardia
          and viruses for several disinfectants. These calculations can be useful
          for determining compliance with EPA guidelines.
        </p>

        <div class={styles.coreTech}>
          <p>Core technologies:</p>
          <ul>
            <li>Astro</li>
            <li>TypeScript</li>
            <li>Python</li>
          </ul>
        </div>

        <p>Checkout the code on <a>GitHub</a></p>
      </Section>
    </Fragment>
  </FlexGrid>
</InfoLayout>
